<!-- 
    Data rendering and presentation layer
 -->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>WQMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Remote CSS CDN links -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->

    <!-- Custom links -->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/bootstrap-4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style/mystyle.css">

    <!-- CDN links -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <!-- message toast  -->
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}

</head>



<body>
    <!-- header -->
    <header>
        <div class="container-fluid bg-white p-3 text-muted shadow d-flex justify-content-between">
            <div>
                <h4>
                    <span class="text-success">IOT</span><span class="text-info">WQMS</span>MONITOR
                </h4>
            </div>
        </div>
    </header>

    <!-- image and login form -->
    <section>
        <div class="container-fluid">

            <!-- Python flash message -->
            <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" onclick="$('.alert').hide()">&times;</span>
                    <span class="sr-only">Close</span>
                </button>{{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %} -->

            <div class="row my-5">
                <div class="col-12 col-md-6 m-auto mx-2">
                    <div>
                        <img src="../static/images/img1.jpeg" width="100%" height="100%" alt="fish_pond_photo" class="rounded">
                    </div>
                </div>
                <div class="col-9 m-auto col-md-4">
                    <form class="text-center mt-3" action="/index" method="POST">
                        <p class="h3 my-5 mt-md-0"> LOGIN </p>
                        <div class="form-group">
                            <input type="username" class="form-control" name="username" id="email"
                                placeholder="username" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="password" required>
                        </div>
                        <div class="form-group text-primary">
                            <input type="checkbox" name="password" id="password" placeholder="password"> Keep me logged
                            in
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </section><br>


    <footer style=" background-color: #606f7e !important; bottom: 0px; margin-bottom: 0px; height: 30px;">
        <div class="container-fluid p-3 text-center text-light bg-info" style="background-color: #15324f !important;">
            <div class="container" style="margin-top: 10px">
                    All Right Reserved &nbsp; | &nbsp;
                    Copyright &copy; 2019 &nbsp; | &nbsp; IoT_WQMS_Team <br>
                <a href="#"><i class="fab fa-facebook fa-lg mx-2 my-4 text-warning"></i></a>
            <a href="#"><i class="fab fa-instagram fa-lg mx-2 my-4 text-warning"></i></a>
                <a href="#"><i class="fab fa-twitter fa-lg mx-2 my-4 text-warning"></i></a>
                <a href="#"><i class="fab fa-linkedin fa-lg mx-2 my-4 text-warning"></i></a>
            </div>
        </div>
    </footer>

    <!-- Js CDN Links-->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->

    <!-- Local Js links -->
    <script src="../static/bootstrap-4.1.3/jquery.min.js"></script>
    <script src="../static/bootstrap-4.1.3/popper.min.js"></script>
    <script src="../static/js/main.js"></script>

     <!-- templating python toasting notification -->
     {{ toastr.include_toastr_js() }}
</body>

</html>